<figure #figure [ngClass]="{'show-controls': mouseMoving || video.paused || video.ended}">
  <video #video
         id="video-tag"
         preload="metadata"
         [controls]="!browserSupportsVideo && _coerceBooleanProperty(controls())"
         [crossOrigin]="crossOrigin()"
         [autoplay]="autoplay()"
         [poster]="posterSrc()"
         [loop]="_coerceBooleanProperty(loop())"
         [volume]="volume()"
         (click)="toggleVideoPlayPause()"
         (loadedmetadata)="onMetadataLodaded()">
    <source *ngFor="let source of _videoSources" [src]="source.src" [type]="source.type">
    <track *ngFor="let track of tracks()" [src]="track.src" [srclang]="track.srclang" [label]="track.label" [default]="track.default">
  </video>
  <ul *ngIf="browserSupportsVideo && _coerceBooleanProperty(controls())" class="controls" aria-controls="video-tag">
    <li #progress
        tabindex="0"
        class="ngx-progress"
        (mousemove)="onProgressHover($event)"
        (keyup.ArrowRight)="advanceVideoBy(10)"
        (keyup.ArrowLeft)="advanceVideoBy(-10)">
      <progress *ngFor="let chapter of chapters | sort; let i = index"
                #chapterProgress
                tabindex="-1"
                [value]="video.currentTime - chapter.time"
                [max]="chapter.duration || 0"
                [style.width.%]="(chapter.duration || 0) / video.duration * 100"
                (click)="onProgressBarClick($event)"
                (keyup.ArrowRight)="advanceVideoBy(10)"
                (keyup.ArrowLeft)="advanceVideoBy(-10)"
                (focus)="onProgressHover()">
      </progress>
      <div class="thumbnail">
        <img *ngIf="thumbnailSrc" [src]="thumbnailSrc" alt="" crossorigin="anonymous">
        <p style="color: white" *ngIf="thumbnailTime">{{ thumbnailTime | chapter:chapters }}</p>
        <p style="color: white" *ngIf="thumbnailTime">{{ thumbnailTime | time }}</p>
      </div>
      <div class="chapters"></div>
    </li>
    <div class="buttons">
    <li>
      <button type="button" (click)="toggleVideoPlayPause()">
        <span *ngIf="video.paused || video.ended; else pauseIcon" class="material-icons">play_arrow</span>
        <ng-template #pauseIcon><span class="material-icons">pause</span></ng-template>
      </button>
    </li>
    <li class="mute">
      <button type="button" (click)="video.muted = !video.muted">
        <span *ngIf="!video.muted && video.volume; else muteIcon" class="material-icons">volume_up</span>
        <ng-template #muteIcon><span class="material-icons">volume_off</span></ng-template>
      </button>
    </li>
    <li class="volume-control">
      <input type="range" min="0" max="1" step="0.1" (input)="onVolumeChange($event)" [value]="video.volume">
    </li>
    <li *ngIf="!isNaN(video.currentTime) && !isNaN(video.duration)" class="text"><span>{{video.currentTime | time}} / {{video.duration | time}}</span></li>
    <li *ngIf="chapters.length > 1 || chapters[0].title" class="text"><span>&bull;</span><span style="margin-left: 4px">{{video.currentTime | chapter:chapters}} </span></li>
    <span style="flex-grow: 1;"></span>
    <li *ngIf="tracks().length" class="tracks-control" (clickOutside)="trackMenuOpen = false">
      <button type="button" (click)="trackMenuOpen = !trackMenuOpen"><span class="material-icons">subtitles</span></button>
      <ul class="tracks-menu" [ngClass]="{'open': trackMenuOpen}">
        <li *ngFor="let track of tracks()"><button (click)="selectSubtitles(track)">{{ track.label}}</button></li>
        <li><button (click)="selectSubtitles(null)">Off</button></li>
      </ul>
    </li>
    <li><button *ngIf="fullScreenEnabled" type="button" (click)="toggleFullScreen()"><span class="material-icons">fullscreen</span></button></li>
    </div>
  </ul>
</figure>
