<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid" wmAnimate="landing" aos speed="normal">
        <a class="navbar-brand logo-container" routerLink="/" style="margin-left:1rem; text-transform:capitalize;">
            <mat-icon svgIcon="logo" class="logo-perfect"></mat-icon><span style="padding-left:.25rem">Home</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @if (accountService.user$ | async) {
                <li class="nav-item dropdown" *appUserHasRole="['Admin']">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-list-task'></i> Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a routerLink="/admin" class="dropdown-item"><i class="bi bi-person-gear"></i> Users Maintenance</a>
                        </li>
                        <li>
                            <a routerLink="/admin/soaadmin" class="dropdown-item"><i class="bi bi-person-gear"></i> SOA Maintenance</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/admin/todo-maint"><i class="bi bi-list-task"></i> Todo Maintenance</a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/menumaint']"><i class="bi bi-gear"></i> Menu Maintenance</a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/tube']"><i class="bi bi-share"></i> WebTube Maintenance</a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/tube/downloadyoutube']"><i class="bi bi-download"></i> Download YouTube</a>
                        </li>
                    </ul>
                </li>
                }
                <ng-container>
                    <li class="nav-item"><a routerLink="/play" class="nav-link"><i class='bi bi-person'></i> Play</a></li>
                </ng-container>

                <li class="nav-item"><a routerLink="/contact" class="nav-link"><i class='bi bi-people'></i> Contact</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-camera-reels'></i> Movies
                    </a>
                    <ul class="dropdown-menu">
                        @for (p of  menuService.movieMenu(); track p) {
                        <li>
                            @if (p.param !== 'bob') {
                            <a class="dropdown-item" [routerLink]="['/movies', p.param]">{{ p.title }}</a>
                            }
                        </li>
                        }
                        @if (accountService.user$ | async) {
                        @for (p of menuService.movieMenu(); track p) {
                        <li>
                            @if (isViewAble(p.param)) {
                            <a class="dropdown-item" [routerLink]="['/movies', p.param]">{{ p.title }}</a>
                            }
                        </li>
                        }
                        }
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-camera-video'></i> Videos
                    </a>
                    <ul class="dropdown-menu">
                        @for (p of menuService.videoMenu(); track p) {
                        <li>
                            <a class="dropdown-item" [routerLink]="['/videos', p.param]">{{ p.title }}</a>
                        </li>
                        }
                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-camera-video'></i> Frames
                    </a>
                    <ul class="dropdown-menu">
                        @for (p of menuService.movieMenu(); track p) {
                        <li>
                            <a class="dropdown-item" [routerLink]="['/frames', p.param]">{{ p.title }}</a>
                        </li>
                        }
                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-camera'></i> Photos
                    </a>
                    <ul class="dropdown-menu">
                        @for (p of menuService.photoMenu(); track p.id) {
                        <li>
                            <a class="dropdown-item" [routerLink]="['/photos', p.param]">{{ p.title }}</a>
                        </li>
                        }
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-file-earmark-pdf'></i> Documents
                    </a>
                    <ul class="dropdown-menu">
                        @for (p of menuService.bookMenu(); track p.id) {
                        <li>
                            <a class="dropdown-item" [routerLink]="['/books', p.param]">{{ p.title }}</a>
                        </li>
                        }
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-record-circle'></i> Medias
                    </a>
                    <ul class="dropdown-menu">
                        @for (p of menuService.musicMenu(); track p) {
                        <li>
                            <a class="dropdown-item" [routerLink]="['/musics', p.param]">{{ p.title }}</a>
                        </li>
                        }
                        <li>
                            <a class="dropdown-item" [routerLink]="['/song','musics','AmericanMusics','Many Varieties']">English Songs</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/rpm']">រស្មីពានមាស</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/audio','musics','got','ก๊อต จักรพรรณ์']">ก๊อต จักรพรรณ์</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-link'></i> Links
                    </a>
                    <ul class="dropdown-menu">
                        @for (p of menuService.linkMenu(); track p) {
                        <li>
                            <a class="dropdown-item" href="{{ p.param }}" target="_blank">{{ p.title }}</a>
                        </li>
                        }
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-play-circle'></i> WebTubes
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" [routerLink]="['/tubelink']">YouTube Link</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/webdownload">Web Download</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="school/index.html">School Project</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/jellyfin/">JellyFin</a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/gps']">Gps Map</a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/googlemap']">Google Gps Map</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="'/bootstrap'">Bootstrap 5.3.8 and Icons List</a></li>
                        <li><a class="dropdown-item" [routerLink]="'/animate'">Animate Testing</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bi bi-play-circle'></i> Tax Tools 
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" [routerLink]="['/tax-estimate']">Tax Estimate</a>
                        </li>                      
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/help']"><i class="bi bi-lightbulb"></i> Help</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                @if ((accountService.user$ | async) === null) {
                <li class="auth-buttons">
                    <button class="auth-button login-button" routerLink="/account/login"><i class='bi bi-person'></i> Login</button>
                    <button class="auth-button login-button" routerLink="/account/register"><i class='bi bi-vector-pen'></i> Register</button>
                </li>
                }
                @if ((accountService.user$ | async); as user) {
                <li><a class="nav-link"><i class='bi bi-person-badge'></i> {{user.firstName | titlecase}}</a></li>
                <li class="auth-buttons">
                    <button class="auth-button logout-button" (click)="logout()"><i class='bi bi-door-open'></i> LogOut</button>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>
@if (loadingService.loading$ | async) {
<div class="spinner-overlay">
    <mat-spinner class="orange-spinner"></mat-spinner>
</div>
}
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
