<div class="container-fluid">

  <div class="row flex-nowrap">
    <div class="col-auto px-0">
      <div id="sidebar" class="collapse collapse-horizontal show border-end">
        <div class="card" style="max-width: 100%;">
          <div class="card-header" [class.text-bg-secondary]="0 === 0">
            <h5>Documents List</h5>
          </div>
          <div class="card-body">
            <app-media-list [items]="listItems()"
                            icon="bi-file-earmark-pdf"
                            [showDuration]="false"
                            [selectedId]="rowSelected?.title ?? null"
                            emptyMessage="No documents here yet"
                            (select)="selectedRow($event)">
            </app-media-list>
          </div>
        </div>
      </div>
    </div>

    <main class="col ps-md-2 pt-2">
      <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"
         [attr.aria-expanded]="true"><i class="bi bi-list bi-lg py-2 p-1"></i> Document</a>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

