<div class="container">
  <h1 style="text-transform: capitalize">{{ menuFolder() }} - Duration Update </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Record Id</th>
        <th>Title</th>
        <th>Duration</th>
        <th>Type</th>
        <th>Assets</th>
      </tr>
    </thead>
    @for (record of dataSource(); track record) {
    <tbody>
      <tr>
        <td>{{ record.recordId }}</td>
        <td>{{ record.title }}</td>
        <td>{{ record.duration | timeConversion }}</td>
        <td>{{ record.type }}</td>
        <td>{{ record.assets }}</td>
      </tr>
    </tbody>
    }

  </table>
  <div>
    @if (dataSource().length) {
    <button class="btn btn-primary" (click)="updateDuration()">Update Duration</button>
    }
  </div>
</div>
