<ngx-video-player controls
                  [autoplay]="autoplay"
                  [posterSrc]="rpmCoverFolder"
                  [src]="currentVideo"
                  (stateEvent)="videoStateEvent($event)">
</ngx-video-player>
<div class="card" style="max-width: 100%;">
  <div class="card-header">
    <marquee *ngIf="isPlaying" behavior="scroll" direction="left" [ngClass]="'text-primary'">
      {{
         currentVideo$.getValue()
      }}
    </marquee>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush" *ngIf="!isLoading">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let t of dataResult | paginate: {
          itemsPerPage:15,
          currentPage:p,
          totalItems: dataResult.length
          }; index as i"
          (click)="selectedRow(t, i)" [ngClass]="{ 'text-bg-primary': t === rowSelect }">{{ t.title }}<span>{{ t.duration }}</span></li>
    </ul>
  </div>
  <div class="card-footer">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
