.top-center-element {
  position:absolute; 
  top: 100px; 
  left: 50%; 
  transform: translateX(-50%);  
}
.bottom-center-element {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.center-element {
  display: grid;
  place-items: center; /* Centers both axes at once */
  min-height: 100vh;
  margin: 0;
}
