<div class="container mt-1">
  <h1><i class="bi bi-download"></i> Youtube Download</h1>
  <form [formGroup]="downloadform" (ngSubmit)="onSubmit()">
    <div class="row form-group">
      <mat-form-field appearance="outline">
        <mat-label>Download Youtube Videos</mat-label>
        <input type="url" formControlName="tubeUrl"
          (change)="parseVideoLink()"
          matInput
          [class.is-invalid]="submitted && f.tubeUrl.errors"
          required />
        <mat-hint>copy Youtube Url and paste it here...</mat-hint>
        @if (submitted && f.tubeUrl.errors) {
          <div class="invalid-feedback">
            @if (f.tubeUrl.errors.required) {
              <div>Youtube Url is required</div>
            }
          </div>
        }
      </mat-form-field>
    </div>
    <div class="row form-group">
      <mat-form-field appearance="outline">
        <mat-label>Designated Path</mat-label>
        <input type="text" formControlName="updatePath" matInput [class.is-invalid]="submitted && f.updatePath.errors" required />
        <mat-hint>Directory in Medias such as videos\test..., movies\test..., musics\test...</mat-hint>
        @if (submitted && f.updatePath.errors) {
          <div class="invalid-feedback">
            @if (f.updatePath.errors.required) {
              <div>Designated path is required</div>
            }
          </div>
        }
      </mat-form-field>
    </div>

    <div class="row form-group">
      <mat-form-field appearance="outline">
        <!--<mat-label>Youtube Videos List</mat-label>-->
        <input  type="text" formControlName="videoList"  matInput readonly tabindex="-1"/>
        <mat-hint>Youtube videos list ...</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="btn-group mt-2">
        <button type="submit" class="btn btn-primary mr-1" [disabled]="downloadform.invalid">
          @if (submitting) {
            <span class="spinner-border spinner-border-sm mr-1"></span>
          }
          Submit
        </button>

      </div>
    </div>
  </form>
</div>
