<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto px-0">
      <div id="sidebar" class="collapse collapse-horizontal show border-end">
        <div class="bg-body-tertiary rounded-3">
          <div class="card" style="max-width: 100%;">
            <div *ngFor="let rpm of dataResource() | paginate:
                 {
                   itemsPerPage: itemsPerPage(),
                   currentPage: currentPage(),
                   totalItems:  dataResource.length
                 }
                 ; index as i">
              <div class="card-body">
                <img mat-card-img [src]="rpm.coverUrl" (click)="loadRPM(rpm)">
              </div>
            </div>
            <pagination-controls previousLabel="Prev"
                                 nextLabel="Next"
                                 [maxSize]="5"
                                 [directionLinks]="true"
                                 (pageChange)="currentPage.set($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
      </div>
    <main class="col ps-md-2 pt-2">
      <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"
         [attr.aria-expanded]="true"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
