<div class="main-container">
  <!-- Left content area (2/3 width) -->
  <div class="content-area">
      <div *ngIf="selectedPicture">
        <app-audio-player [dataSource]="dataResult" [imagePoster]="poster"></app-audio-player>
      </div>
  </div>

  <!-- Right gallery area (1/3 width) -->
  <app-scrolling-gallery *ngIf="dataResource().length > 0"
                         [pictureData]="dataResource()"
                         (pictureSelected)="onPictureSelected($event)">
  </app-scrolling-gallery>
</div>

