/* Improve playlist styling */
.playlist-container {
  max-height: 500px;
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}

.list-group-item.active {
  background-color: var(--bs-primary);
  border-color: #dc3545;
}


.list-group-item::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.list-group-item.active:hover {
  background-color: var(--bs-primary);
}
.active {
  background-color: var(--bs-primary);
  color: white;
}
