<audio controls #AngAudioPlayer [src]="selectedAudio()?.url">
</audio>
<div class="main">
  <p id="logo"><i class="bi bi-music-note-beamed"></i>Music</p>

  <!-- show_song_number -->
  <div class="show_song_no pt-2">
    <p>{{ currentAudioIndex + 1 }}</p>
    <p>/</p>
    <p>{{ audioList().length }}</p>
  </div>


  <!--- left part --->
  <div class="left">

    <!--- song img --->
    <img id="track_image" src="/images/family/calida.jpg">
    <div class="volume">
      <p id="volume_show">{{ audioVolume() }}</p>
      <button (click)="muteAudio()" id="play" [ngClass]="{'text-bg-green': isMute() === true }">
        @if (!isMute()) {
        <i class="bi bi-volume-up" aria-hidden="true"></i>

        } @else {
        <i class="bi bi-volume-mute" aria-hidden="true"></i>
        }
      </button>
      <input type="range" class='form-range' [ngClass]="{'mute': isMute() === true }" min="0" max="100" value="{{ audioVolume() }}" (input)="volumeChange($event)" id="volume">
      
      
    </div>

    <div class="autoplay form-check">
      <input class="viewOnly form-check-input" type="checkbox" [ngModel]="isAudioAutoPlay()">
      <label class="form-check-label p-2" for="flexCheckChecked">
        Audio Auto Play
      </label>
    </div>
  </div>

  <!--- right part --->
  <div class="right">
    <!--- song title & artist name --->
    <div class="song_detail">
      <p id="title">{{ audioList()[currentAudioIndex]?.title }}</p>
      <p id="artist">Artist: {{ artist() }}</p>
    </div>

    <!--- middle part --->
    <div class="middle">
      <!--  -->
      <button (click)="repeatAudio()" id="repeat" [ngClass]="{ 'text-bg-orange': isRepeat() === true }"><i class="bi bi-repeat h5" aria-hidden="true"></i></button>
      <button (click)="previousAudio()" id="pre"><i class="bi bi-skip-backward h5" aria-hidden="true"></i></button>
      <button (click)="playAudio()" id="play" [ngClass]="{'text-bg-green': isAudioPlaying() === false }">
        @if (isAudioPlaying()) {
        <i class="bi bi-play h5" aria-hidden="true"></i>
        } @else {
        <i class="bi bi-pause h5" aria-hidden="true"></i>
        }
      </button>
      <button (click)="nextAudio()" id="next"><i class="bi bi-skip-forward h5" aria-hidden="true"></i></button>
      <button id="auto" (click)="autoplay_switch()" [ngClass]="{ 'text-bg-orange': isAudioAutoPlay() === false }"><i class="bi bi-infinity" aria-hidden="true"></i></button>

    </div>

    <!--- song duration part --->
    <div class="duration">
      <input type="range" min="0" class='form-range' [ngClass]="{'pause': isAudioPlaying() === false }" max="{{totalAudioLength}}" value="{{currentAudioTime}}" id="duration_slider" (input)="seekAudio($event)">
    </div>
    <div class="time-line">
      <div>{{ currentAudioTime | timeConversion}}</div>
      <div>{{ totalAudioLength | timeConversion}}</div>
    </div>

  </div>


</div>


