<div class="container p-3">
    <app-search-box label="Search Tools" (searchChange)="onSearch($event)"></app-search-box>
    <!-- Locate this line and change tubeRecords() to dataSource -->
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>

        <ng-container matColumnDef="webTubeLink">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tube Link</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.webTubeLink}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="videoId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Video Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.videoId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.webTubeTitle}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <span><i class='bi bi-plus-circle' (click)="addNew()"></i> Add</span>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">

                <span class='bi bi-pencil-fill edit-button' (click)="startEdit(row)" style="margin-right: 1rem"> Edit</span>
                <span class='bi bi-trash-fill delete-button' (click)="deleteItem(row)"> Delete</span>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="pageSize()"
                   [pageIndex]="pageIndex()"
                   (page)="onPage($event)"
                   showFirstLastButtons>
    </mat-paginator>
    <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
    @if(resource.isLoading()) {
    <div>Loading...</div>
    }
    @if(resource.error()) {
    <div>Error: {{ resource.error() }}</div>
    }

</div>
